:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  justify-content: center;
  display: flex;
  align-items: center;

  color-scheme: light dark;
  color: rgba(157, 234, 203, 0.87);
  background-color: #a4e8af;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #a3a7f4;
  text-decoration: inherit;
}
a:hover {
  color: #9397ee;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  display: flex;

  /* //background-color: honeydew; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  justify-content: center;
  margin-left:10px;

  align-items: center;
}
button:hover {
  border-color:  rgba(157, 234, 203, 0.87);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.inputflex{
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}

@media (prefers-color-scheme: light) {
  :root {
    color: #6ea5d6;
    background-color: #ffffff;
  }
  a:hover {
    color:  rgba(157, 234, 203, 0.87);
  }
  button {
    background-color: #f9f9f9;
  }
}
